#root {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.app-root {
	text-align: center;
	width: 100%;
	height: 100%;
}
div.body {
	margin: 0px;
	padding-top: 2rem;
	width: 100%;
	height: 100%;
	background-color: var(--muted);
}

/* colors and other universal defaults */
:root {
	--radius: 3px;

	--dark-text: black;
	--input-text: gray;
	--light-text: white;
/*
	Alt Color Scheme
	--neutral:#06283b;
	--contrast: #7c9f24;
	--bright:#6598c7;
	--accent: #d2ced1;
	--muted:#326229;
*/
	--contrast:#058fb2;
	--accent: #f9ae33;
	--muted:#47c7eb;
	--neutral: #c8d9cd;
	--bright:#527e4b;	
}

.header {
	background-color: var(--contrast);
	margin-top: 0rem;
	height: 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	color: var(--light-text);
	background-size: cover;
	position: relative;
}
div.subheading {
	font-size: 1rem;
}

div.form {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-between;
	padding: 1.2rem;
	text-align: left;
	font-size: 1.3rem;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-radius: var(--radius);
	background-color: white;
	filter: drop-shadow(var(--contrast) 1px 1px 0.2rem);
	opacity: 100%;
}
div.form p {
	font-size: 1rem;
	padding: 1rem;
	margin-block-start: 0rem;
	margin-block-end: 0rem;
}
div.form-field {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	padding: 0.5rem;
	text-align: left;
}
div.form-field.invalid {
	color: var(--accent);
}
div.form-field.invalid input {
	border-color: var(--accent);
}
div.form-field.invalid input:focus {
	outline-color: var(--accent);
}
div.form-field label {
	font-weight: 400;
	margin-right: 1rem;
	font-size: 1.2rem;
	color: var(--dark-text);
}
div.form-field input {
	padding: 0.5rem;
	min-width: 240px;
	font-size: 1rem;
	color: var(--input-text);
	outline-color: var(--muted);
	flex-grow: 1;
}
div.form-field input:focus {
	border-color: var(--muted);
	outline-color: var(--muted);
	outline-width: 2px;
	border-width: 1px;
}
div.form-field input::placeholder {
	color: var(--neutral);
	font-size: 1rem;
}
button {
	color: var(--light-text);
	font-size: 1.3rem;
	padding: 0.5rem 0.9rem;
	border-color: var(--muted);
	border-width: thin;
	border-style: solid;
	width: fit-content;
	background-color: var(--muted);
	border-radius: var(--radius);
	cursor: pointer;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
}
button:hover {
	border-color: var(--accent);
	background-color: var(--accent);
}
div.form.invalid button, div.form.invalid button:hover {
 	border-color: var(--neutral);
 	background-color: var(--neutral);
 	color: var(--light-text);
	cursor: not-allowed;
}
input {
	border-width: thin;
	border-radius: var(--radius);
	border-color: var(--muted);
	padding: 2px 4px;
	border-style: solid;
	font-size: 0.8rem;
}
div.invalid input {
	color: var(--bright);
	border-color: var(--bright);
}
div.invalid label {
	color: var(--bright);
}
div.link {
	position: absolute;
	font-size: 0.8rem;
	bottom: 0.3rem;
	right: 0.5rem;
}
div.link a {
	color: var(--contrast);
	font-weight: bold;
	text-decoration: unset;
}
