#root {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
html {
	overflow: hidden;
	margin: 0;
	padding: 0;
}
body {
	content: ' ';
	display: block;
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.app-root {
	text-align: center;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}
div.body {
	width: auto;
	height: auto;
	background-color: var(--muted);
	overflow-y: auto;
	height: 100%;
}
/* colors and other universal defaults */
:root {
	--radius: 3px;

	--dark-text: black;
	--input-text: gray;
	--light-text: white;
	--contrast: #058fb2;
	--accent: #f9ae33;
	--muted: rgb(71, 200, 235);
	--muted-light: rgba(71, 200, 235, 0.2);
	--neutral: #c8d9cd;
	--bright: #527e4b;
}

.header {
	background-color: var(--contrast);
	margin-top: 0rem;
	height: 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	color: var(--light-text);
	background-size: cover;
	position: fixed;
	width: 100%;
	z-index: 1; /* force the body to scroll under the header */
}

div.subheading {
	font-size: 1rem;
}

div.form-parent {
	top: 8rem;
	height: fit-content;
	position: relative;
}
/* form component */
.form {
	display: flex;
	backface-visibility: hidden;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1.2rem;
	text-align: left;
	font-size: 1.3rem;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-radius: var(--radius);
	background-color: white;
	filter: drop-shadow(var(--contrast) 1px 1px 0.2rem);
	opacity: 100%;
}
form > div {
	display: grid;
}
.form p {
	font-size: 1rem;
}
p {
	margin-block-start: 0rem;
	margin-block-end: 0rem;
}
div.form-field {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	padding: 0.5rem;
	text-align: left;
}
div.form-field.invalid {
	color: var(--accent);
}
div.form-field.invalid input {
	border-color: var(--accent);
}
div.form-field.invalid input:focus {
	outline-color: var(--accent);
}
div.form-field label {
	font-weight: 400;
	margin-right: 1rem;
	font-size: 1.2rem;
	color: var(--dark-text);
}
div.form-field input {
	padding: 0.5rem;
	min-width: 240px;
	font-size: 1rem;
	color: var(--input-text);
	outline-color: var(--muted);
	flex-grow: 1;
}
div.form-field input[name='precision'] {
	padding: 0.5rem;
	min-width: 100px;
	font-size: 1rem;
	color: var(--input-text);
	outline-color: var(--muted);
	flex-grow: 1;
}
div.form-field input:focus {
	border-color: var(--muted);
	outline-color: var(--muted);
	outline-width: 2px;
	border-width: 1px;
}
div.form-field input::placeholder {
	color: var(--neutral);
	font-size: 1rem;
}
button {
	color: var(--light-text);
	font-size: 1.3rem;
	padding: 0.5rem 0.9rem;
	border-color: var(--muted);
	border-width: thin;
	border-style: solid;
	min-width: 130px;
	background-color: var(--muted);
	border-radius: var(--radius);
	cursor: pointer;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}
button:hover {
	border-color: var(--accent);
	background-color: var(--accent);
}
.form.invalid button,
.form.invalid button:hover {
	border-color: var(--neutral);
	background-color: var(--neutral);
	color: var(--light-text);
	cursor: not-allowed;
}
input {
	border-width: thin;
	border-radius: var(--radius);
	border-color: var(--muted);
	padding: 2px 4px;
	border-style: solid;
	font-size: 0.8rem;
}
div.invalid input {
	color: var(--bright);
	border-color: var(--bright);
}
div.invalid label {
	color: var(--bright);
}
div.link {
	position: absolute;
	font-size: 0.8rem;
	bottom: 0.3rem;
	right: 0.5rem;
}
a,
a:visited {
	color: var(--contrast);
	font-weight: bold;
	text-decoration: unset;
}
div.link a,
div.link a:visited {
	color: var(--contrast);
	font-weight: bold;
	text-decoration: unset;
}
img {
	margin-left: auto;
	margin-right: auto;
}
div.image-parent {
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}
div.limit-container {
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	font-size: 1.5rem;

	& p {
		overflow-wrap: anywhere;
	}
}
.error-message {
	color: var(--accent);
	height: max-content;
	font-weight: bold;
	font-size: 1rem;
	width: 100%;
	padding: 4px;
	margin-left: 38px;
}
.hidden {
	display: none;
	visibility: hidden;
}
@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
.fade-in {
	animation-duration: 1s;
	animation-name: fadein;
	animation-iteration-count: 1;
}

/* chart component */
div.chart-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	backface-visibility: hidden;
	padding: 1.2rem;
	text-align: left;
	font-size: 1.3rem;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border-radius: var(--radius);
	background-color: white;
	filter: drop-shadow(var(--contrast) 1px 1px 0.2rem);
	opacity: 100%;
}
.center-text {
	text-align: center;
}
div.closed-form-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 0.5rem;
}
div.closed-form {
	padding: 0px 20px;
	margin: 0.5rem;
	background-color: var(--muted-light);
	border-radius: var(--radius);
}
p.footnote {
	font-size: 0.8rem;
}
.full-width {
	width: 100%;
}
.center-content {
	text-align: center;
}
.top-padding {
	padding-top: 1rem;
}
.plot-container {
	padding-left: 20px;
}
.chart-spinner-container {
	width: 100%;
	min-height: 11rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.chart-spinner {
	max-width: 5rem;
	margin: auto;
	aspect-ratio: 1.154;
	--_g: no-repeat radial-gradient(farthest-side, var(--accent) 90%, #0000);
	background:
		var(--_g) 50% 0,
		var(--_g) 0 100%,
		var(--_g) 100% 100%;
	background-size: 26% calc(26% * 1.154);
	animation: spin 1s infinite;
}
.spinner {
	flex: 1;
	width: 1.5rem;
	aspect-ratio: 1.154;
	--_g: no-repeat radial-gradient(farthest-side, #fff 90%, #0000);
	background:
		var(--_g) 50% 0,
		var(--_g) 0 100%,
		var(--_g) 100% 100%;
	background-size: 30% calc(30% * 1.154);
	animation: spin 1s infinite;
	margin-right: 0.5rem;
}
@keyframes spin {
	50%,
	100% {
		background-position:
			100% 100%,
			50% 0,
			0 100%;
	}
}
svg {
	margin: 20px 10px 20px 20px;
}

div.chart-container mjx-container[jax='SVG'][display='true'] {
	margin: 0px;
}

.meta-container mjx-container svg {
	margin: 0px;
}

.meta-container {
	text-align: center;
	 & div {
		width: fit-content;
		text-align: left;
		margin: auto;
	 }
}

.meta-container mjx-container[jax='SVG'][display='true'] {
	display: inline;
}

div.flex-wrapper {
	display: flex;
}

div.flex-child {
	flex: 1;
	align-self: baseline;
}
.metadata {
	font-size: 0.8rem;
	font-weight: normal;
}
p.nav-wrapper {
	text-align: left;
	width: 100%;
    font-style: italic;
    font-size: 0.8rem;
	& a {
		cursor: pointer;
	} a:hover {
		color: var(--accent);
	}
}