[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "~=0.24.0.post1"}
fastapi = "~=0.104.1"

[dev-packages]

[requires]
python_version = "3.9"
