fastapi==0.109.2
mpmath==1.3.0
pydantic==2.6.1
pytest==8.0.0
python-dotenv==1.0.0
requests==2.31.0
sympy==1.12
ramanujan@https://github.com/RamanujanMachine/ResearchTools/archive/refs/heads/master.tar.gz
LIReC@git+https://github.com/RamanujanMachine/LIReC.git@main
